@import url('https://fonts.googleapis.com/css?family=Poiret+One|Roboto|Rubik|Share&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: gray;

}
body {
        /* font-family: 'Poiret One', cursive; */
    /* font-family: 'Share', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;

}

.site-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location {
    margin: 2rem 0 3rem 0;
}
.weather-description{
    margin-bottom: 1.2rem;
    font-size: 1rem;
}
.temperature-wrapper {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-family: 'Poiret One', cursive; */

}
.min-max-wrapper {
    display: flex;  
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}
.current-temp{
    font-size: 3rem;
    margin-bottom: 1.2rem ;
}
.feels-like-temp {
    margin-bottom: 1.2rem

}
.min-temp-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
}
.max-temp-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
}
p {
    font-size: 1rem;
}

.extended-forecast{
    display: grid;
    gap: 2px;
    grid-template-areas: "day-one day-two" 
                         "day-three day-four"
}
.day-one{
    grid-area: day-one;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 5px;
}
.day-two{
    grid-area: day-two;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 5px;
}
.day-three{
    grid-area: day-three;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 5px;  
}
.day-four{
    grid-area: day-four;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 5px;   
}
.min-max-wrapper-forecast {
    display: flex;
    flex-direction: column;
}
.forecast-img{
    width: 30px;
    height: 30px;
}
.min-temp-forecast, .max-temp-forecast {
    font-size: 1rem;
}